@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;700&display=swap');

:root{
    --body-copy:17px;
    --body-copy-line-height: calc(var(--body-copy)*1.2);

    --main-heading: 60vw;
    --main-heading-line-height: calc(var(--main-heading));
}

body, html {
    margin: 0;
    font-family: 'Familjen Grotesk', serif;
}

/*TITLE*/
.header{
    font-family:'Bebas Neue', sans-serif;
    font-size: var(--main-heading);
    line-height: 50vw;
    overflow-x: hidden;
    word-break: break-all;
}

#header {
    padding: 50px 10px;
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.2s;
}

/*BOTTOM NAVIGATION*/
    .mobile-nav {
        margin: 0;
        padding: 0;
        background-color: white;
        position: fixed;
        bottom: 0;
        height: 85px;
        display: flex;
        justify-content: space-evenly;
        z-index: 9999;
        left: 0;
        right: 0;
        padding-top: 15px;
    }

    .bloc-icon {
        display: flex;
        width: 50px;
        height: 50px;
        color: black;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border: 1px black solid;
    }

    .bloc-icon_active{
        display: flex;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: var(--body-copy);
    }

/*|| BOTTOM NAVIGATION FOR LARGER SCREENS */
@media screen and (min-width: 600px) {
    .mobile-nav {
    display: none;
    }
    }