@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Familjen+Grotesk:wght@400;700&display=swap');

:root{
    --body-copy:17px;
    --body-copy-line-height: calc(var(--body-copy)*1.2);

    --main-heading: 25vw;
    --main-heading-line-height: calc(var(--main-heading));
}

body {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    width: 80%;
    font-family: 'Familjen Grotesk', serif;
}
/*HEADING*/
.channel-title{
	font-family: 'Bebas Neue', serif;
	font-size: 30vw;
	line-height: 15vw;
	margin-top: 50px;
}

.sub-title{
	font-family: 'Bebas Neue', serif;
	font-size: 30vw;
}

p{
	margin-bottom: 10px;
}


/*MEDIA FILTER*/
.media{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 50px;
	margin-bottom: 50px;
}

/*CONTENT*/
    .image-block {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

      img {
        width: 100%;
        padding: 20px;
        object-fit: contain;
        grid-area: 1 / 1 / 2 / 2;
        border: 0.5px solid black;
      }


/*BOTTOM NAVIGATION*/
.mobile-nav {
    margin: 0;
    padding: 0;
	display: flex;
	position: fixed;
    background-color: white;
    bottom: 0;
	height: 85px;
    justify-content: space-evenly;
    z-index: 9999;
    left: 0;
    right: 0;
    padding-top: 18px;
}

.bloc-icon {
    display: flex;
    width: 50px;
    height: 50px;
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px black solid;
}

.bloc-icon_active{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: var(--body-copy);
}