@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Familjen+Grotesk:wght@400;700&display=swap');

:root{
    --body-copy:17px;
    --body-copy-line-height: calc(var(--body-copy)*1.2);

    --main-heading: 25vw;
    --main-heading-line-height: calc(var(--main-heading));
}

body {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    width: 80%;
    font-family: 'Familjen Grotesk', serif;
}
/*HEADING*/
.channel-title{
	font-family: 'Bebas Neue', serif;
	font-size: 30vw;
	line-height: 15vw;
	margin-top: 50px;
}

.sub-title{
	font-family: 'Bebas Neue', serif;
	font-size: 30vw;
}

p{
	margin-bottom: 10px;
}


/*MEDIA FILTER*/

.media{
	display: flex;
    flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/*CONTENT*/
    ul {
        --columns: 1;
        display: grid;
        grid-template-columns: repeat(var(--columns),1fr);
        justify-content: center;
        align-items: center;
    }

     img {
        display: block;
        width: 100%;
        padding: 10px;
        object-fit: cover;
        aspect-ratio: 1 / 1;
        border: 0.5px solid black;
        margin-top: 30px;
      }

@media screen and (min-width: 500px ) {
    ul{
        --columns: 3;
        align-items: start;
    }
}